@{
    ViewBag.Title = "About";
}
<h2>ICARUS Web Forms</h2>

<p>A Web form engine, built using ASP.net MVC 4.5</p>
<p>Author: <a href="mailto:ryan@spoonmedia.ca?subject=ICARUS%20WebForms">Ryan Dunphy</a></p>
