<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- (local) -->
  <connectionStrings xdt:Transform="Replace" configSource="ConnectionStrings.config" />

  <!--
    If using gmail as a mail server and your gmail account has two-factor authentication, 
    then you will need to set a machine specific password here:    
    @see https://support.google.com/accounts/answer/185833
    @see https://security.google.com/settings/security/apppasswords
  -->
  <system.net>
    <mailSettings>
      <smtp xdt:Transform="Replace" configSource="MailSettings.config" />
    </mailSettings>
  </system.net>
  
</configuration>