<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace" configSource="ConnectionStrings.config" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp xdt:Transform="Replace" configSource="MailSettings.config" />
    </mailSettings>
  </system.net>
</configuration>