.chat {
    background-color: #fff;
}

    .chat .pane {
        
        width: 100%;
        height: 400px;
        max-height: 400px;
        overflow-y: auto;
    }

    .chat .statement {
        border-top: 1px solid #d2d2d2;
        border-bottom: 2px solid #4c4c4c;
        float: left;
        width: 100%;
        padding: 0.5em 0;
        background-color: orange;
    }

        .chat .statement:nth-child(odd) {
            background-color: #6e7880;
        }

        /**/
        .chat .statement:nth-child(even) {
            background-color: #98a594;
        }


    .chat .thumb {
        margin-right: 1em;
        float: left;
    }

        .chat .thumb .user-photo {
            height: 64px;
            width: 64px;
            border: 1px solid darkgrey;
            border-radius: 64px;
            margin: 4px 0 0 12px;
        }

    .chat .bubble {
        width: calc(100% - 124px);
        float: left;
    }

    .chat .panel {
        position: relative;
        margin-top: 20px;
    }

    .chat .panel .panel-body {
        background-color: #FFF;
    }

        .chat .panel .panel-heading cite {
            display: block;
            font-size: 10px;
        }

        .chat .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .chat .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .chat .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }

    .chat footer {
        width: 100%;
        padding: 1em;
        float: left;
        position: relative;
    }

            .chat footer textarea {
                padding: 0.2em 0.5em;
                border-radius: 6px;
                color: grey;
                border: 2px solid #7c7bd8;
                font-size: 18px;
                font-weight: bold;
            }

    .chat .nav-pills > li {
        display: block;
        float: left;
        list-style: none;
    }

            .chat .word-summary > li > a {
                color: blue;
            }