.form-element-group {
    border-bottom: thin solid #d0d0d0;
    transition: position 800ms;
    position: relative;
    transition-delay: 300ms;
}

    /*.form-element-group > header {
        padding: 0;
        margin-bottom: 12px;
        border: none;
        background-color: transparent;
    }*/

/**
.form-element-group > header {
    opacity: 0;
    -webkit-transition: opacity 800ms; 
    -moz-transition: opacity 800ms; 
    -o-transition: opacity 800ms; 
    transition: opacity 800ms;
    transition-delay: 1000ms;
}

.form-element-group:hover > header,
.form-element-group *:hover {
    opacity: 1.0;
    transition-delay: 100ms;
}
*/ 