footer {
    -webkit-box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.75);
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.75);
    border-top: 1px solid #b6bebf;
    padding: 15px;
    background-color: #3f4553;
    line-height: 32px;
    color: #fff;
    font-size: smaller;
}

footer > .container { /*div*/
    margin: 0.4em auto;
}

footer > cite {
    text-align: right;
    float: right;
    line-height: 16px;
}

footer > cite a, footer > cite a:visited {
    color: #fff;
    text-decoration: underline;
}

footer > cite a:hover {
    color: #00aff2;
}

.stickyfooter {
    position: fixed; /*!important;*/
    bottom: 0;
    width: 100%;
    height: 4em; /* Footer must be fixed height */
    padding: 0;
    background-color: #222;
    border-top: 2px solid #3a3a3a;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

.stickyfooter.active {
    height: 16em;

}

    .stickyfooter.active > textarea {
        height: 196px;
    }