.index-main {

}

    .index-main > .container-body {
        background-color: #404040;
    }

    .index-main > .container-body > .banner {
        background-color: transparent;
        border-top: none;
    }

.index-main > .container-body > .pane > .thumbnail {

}

    .index-main .thumbnail {
        color: white;
        background-color: #292929;
        border: 1px solid #4e4e4e;
    }

    .index-main .thumbnail > img {
        width: 128px;
        height: 128px;
        background-color: grey;
        border-radius: 0.3em;
        float: left;
        clear: left;
        display: block;
        border: 1px solid grey;
        margin: 0.3em;
    }

    .index-main .thumbnail > header {
        width: calc(100% - 148px);
        margin: 0.5em 0 0;
        padding: 0;
        display: block;
        float: left;
        clear: right;
    }

    .index-main .thumbnail > p {
        height: 70px;
        padding: 0;
        margin: 0 0.3em;
        float: left;
        width: calc(100% - 148px);
        overflow: hidden;
    }

    .index-main .thumbnail > .btn-group {
        position: absolute;
        right: 1.35em;
        bottom: 1.75em;
    }

        .index-main .thumbnail > .btn-group > button.btn {
            border: none;
            border-radius: 0.3em;
        }

    .index-main > .container-body > header {
        border-bottom: 1px solid #5a5a5a;
        color: #9d9d9d;
        padding: 0 0.5em;
        background-color: #00000012;
        text-transform: uppercase;
    }

    .index-main > .container-body > .banner {
        height: 528px;
        max-height: 528px;
        overflow-y: auto;
        background-color: none;
    }

    .index-main footer.pagination {
        width: 100%;
        text-align: center;
        border-radius: 0;
        margin: 0;
    }

