.index-main {

}
    .index-main > .container-body > header {
        color: white;
        font-family: sans-serif;
        padding: 0.2em 1em;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        text-align: right;
    }

    .index-main > .container-body > .banner {
        height: 500px;
        max-height: 500px;
        overflow-y: auto;
    }

    .index-main footer.pagination {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }