.modal-loader {
    z-index: 99999;
}

.modal-loader .modal-dialog {
    width: 80% !important;
}

.modal .loader {
    height: 260px;
    max-height: 260px;
    margin-left: 1em;
    margin-right: 1em;
}


    .modal .loader .progress {
        text-decoration: none;
        text-transform: uppercase;
        margin: .5em .5em;
    }
        .modal .loader .progress .progress-bar {
            text-shadow: 0 1px 4px rgb(41, 41, 41);
        }

        .modal .loader .console {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

    .modal .loader .modal-body {
        height: auto;
    }


    .modal .loader .modal-body .well {
        font-size: smaller;
        margin: 0;
    }

.modal .loader .modal-header,
.modal .loader .modal-footer,
.modal .prompt .modal-footer {
    display: none; 
}

    .modal .loader .modal-content {
        background-color: #00000094; /*transparent;*/
    }

    .modal .loader .console.collapse {
        margin-top: 0;
        border-radius: 5px;
        border: 0;
        opacity: 0;
        padding: 0;
        height: 0;
    }

        .modal .loader .console.collapse.in {
            opacity: 1;
            0 .5em .75em border: 1px solid rgba(128, 128, 128, 0.4);
            height: auto;
            padding: initial;
        }

    .modal .loader .console::-webkit-scrollbar {
        display: none;
    }
