.thumbnail {
    padding: 0;
    font-family: 'Raleway';
}

    .thumbnail img {
        /*height: 120px;*/
        width: 100%;
        border-radius: 0.3em 0.3em 0 0;
        border-bottom: 2px solid #2d2d2dcc;
        background-color: grey;
    }

    .thumbnail > header {
        font-weight: bold;
        margin: 0 0 .6em;
        padding: 0.6em 0.6em;
        text-transform: uppercase;
    }

    .thumbnail p {
        text-align: justify;
        padding: 0 0.8em;
        height: 80px;
        overflow-y: auto;
        font-size: smaller;
    }