button {
    
}

/*
div.btn-group .btn {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: smaller;
}
    */
button.btn > .icon {
    color: black;
}

.btn.glyphicon .icon-label {
    top: -3px;
    color: black;
    text-transform: uppercase;
    padding: 0 0 0 4px;
    font-family: sans-serif;
}

div.btn-group .btn:hover {
    background-color: #9db4d9;
}

.btn-block {
    border-radius: 0;
    border-top: 1px solid #BEE1EF;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #c5c5c5;
}