.console {
    margin: 0;
    font-family: monospace;
    background: rgba(0,0,0,.8);
    color: #ccc;
    display: block;
    padding: 0 1em;
    font-size: 8pt;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    line-height: 2em;
}
