/*
    The Jumbotron is a top level banner
*/
.jumbotron {
    width: 100%;
    min-height: 420px;
    margin-top: -50px;
    margin-bottom: 0;
    padding-top: 120px;
    border-bottom: 1px solid #b9b9b9;
    border-top: 2px solid #3ba6e4;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% !important;
    background-size: cover !important;
    text-align: center;
    font-family: "Raleway";
    font-weight: 300;
    color: #FFF;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.95);
    /* Gradient 
    background-image: -moz-radial-gradient(left center, ellipse farthest-corner, #00AFF2 0%, #006396 100%);
    background-image: -webkit-gradient(radial, left center, 0, left center, 530, color-stop(0, #00AFF2), color-stop(100, #006396));
    background-image: -webkit-radial-gradient(left center, ellipse farthest-corner, #00AFF2 0%, #006396 100%);
    background-image: -o-linear-gradient(left center, 0, left center, 530, color-stop(0, #00AFF2), color-stop(100, #006396));
    background-image: radial-gradient(ellipse farthest-corner at left center, #00AFF2 0%, #006396 100%);
    */
    /*VIGNETTE*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,383838+100&0+0,0+57,0+57,0.87+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(32,32,32,0) 57%, rgba(56,56,56,0.87) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(32,32,32,0) 57%,rgba(56,56,56,0.87) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(32,32,32,0) 57%,rgba(56,56,56,0.87) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#de383838',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    /*Actual Background color can should be overridden*/
    background-color: #008196; /*Turquoisish*/
}


    .jumbotron h1 {
        font-size: 40px;
        padding: 0 6px;
    }

    .jumbotron p {
        font-weight: normal;
        padding: 0 6px;
    }