.application-header {

    background-color: white;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: small;
    border-bottom: 1px solid #c3c3c3;
}

/**
Due to implementation of dropdown-group
*/
.dropdown-menu li > a,
.dropdown-group li > a {
    color: #FFF;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}

.form-element .container-body .pane {
    padding: 0.4em;
}

main .container-body .sidebar::-webkit-scrollbar,
main .container-body .sidebar-tall .collapse::-webkit-scrollbar,
main .container-body .pane::-webkit-scrollbar {
    display: none;
}
