<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- AADMSBUCC1 -->
  <connectionStrings xdt:Transform="Replace">
    <add
      name="DefaultConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=127.0.0.1;Initial Catalog=ICARUS;Integrated Security=False;User Id=icarus@spoonmedia.ca;Password=***REMOVED***;MultipleActiveResultSets=True"
      />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from=***REMOVED***>
        <network host="smtp.gmail.com"
                 port="587"
                 userName=***REMOVED***
                 password="***REMOVED***"
                 enableSsl="true"
                 />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>
