<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- AADMSBUCC1 -->
  <connectionStrings xdt:Transform="Replace">
    <add
      name="DefaultConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=AADMSBUCC1,4002;Initial Catalog=BUCallCenter;Integrated Security=False;User Id=BUCallcenter@app.cogeco.com;Password=P@gan1Hu@yra;MultipleActiveResultSets=True"
      />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="ryan@spoonmedia.ca">
        <network host="smtp.gmail.com"
                 port="587"
                 userName="ryan@spoonmedia.ca"
                 password="bziyflhlyofxckfv"
                 enableSsl="true"
                 />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>
