<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- (local) -->
  <connectionStrings xdt:Transform="Replace">
    <add
      name="DefaultConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=127.0.0.1;Initial Catalog=JAC;Integrated Security=False;User Id=icarus@spoonmedia.ca;Password=***REMOVED***;MultipleActiveResultSets=True"
      />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <!--
    If using gmail as a mail server and your gmail account has two-factor authentication, 
    then you will need to set a machine specific password here:    
      
      https://support.google.com/accounts/answer/185833
      https://security.google.com/settings/security/apppasswords
      
    This will allow the server to authenticate     
  -->
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from=***REMOVED***>        
        <network host="smtp.gmail.com"
                 port="587"
                 userName=***REMOVED***
                 password="***REMOVED***"
                 enableSsl="true"
                 />        
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>