@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Options", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off X</a></li>
    </ul>
    }
} else {
    <ul class="nav navbar-nav navbar-right">        
        @* 
            This option is initially hidden.  
            When the application is first configured, an Admin account 
            must be created in order to generate additional users 
        *@
        @if (User.IsInRole("Dev,Admin")) {
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }        
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}